@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,500,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-doc:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e901";
}

._icon-qm:before {
  content: "\e902";
}

._icon-tg:before {
  content: "\e903";
}

._icon-vb:before {
  content: "\e904";
}

._icon-loc:before {
  content: "\e948";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #141414;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-section {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.fade-up-section {
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}

.fade-up-section.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.my-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
  z-index: 500;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: disappearance 2s linear;
          animation: disappearance 2s linear;
}

.my-preloader__image {
  width: 50%;
  height: 60vh;
  -webkit-animation: uprise 2s linear;
          animation: uprise 2s linear;
}

.my-preloader__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes uprise {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes uprise {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappearance {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes disappearance {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__top {
  min-height: 1.875rem;
  background-color: #11ACCB;
}

.top-header {
  color: #fff;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.4375rem 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.work-schedule {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.work-schedule__title {
  font-weight: 700;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

.header__contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__contacts a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #7CE0F4;
}

.socials {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.socials__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.socials__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.main-header {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  min-height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  position: relative;
  z-index: 5;
}

.logo__image {
  width: 4.5rem;
  height: 3.4375rem;
}

.logo__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo__title {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #11ACCB;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.menu__link_btn {
  font-weight: 700;
  color: #fff;
  border-radius: 1.25rem;
  padding: 0.375rem 1.6875rem;
  background-color: #11ACCB;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_btn:hover {
  background-color: #0C8097;
  -webkit-box-shadow: 0 0 0.3125rem #11ACCB;
          box-shadow: 0 0 0.3125rem #11ACCB;
}

.menu__link_link {
  color: #11ACCB;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_link::after {
  content: "";
  width: 0;
  height: 0.125rem;
  bottom: -0.3125rem;
  left: 50%;
  position: absolute;
  background-color: #11ACCB;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_link:hover {
  color: #0C8097;
}

.menu__link_link:hover::after {
  width: 100%;
  left: 0;
  background-color: #0C8097;
  opacity: 1;
  visibility: visible;
}

.menu__body._active {
  left: 0;
}

.menu__body._active::before {
  left: 0;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 4.375rem;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto auto;
  grid-template-columns: 1fr auto auto auto;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
}

.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__work-schedule {
  font-size: 1.25rem;
  line-height: 1.4;
}

.footer__work-schedule h4 {
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.footer__contacts {
  font-size: 1.25rem;
  line-height: 1.4;
}

.footer__menu {
  font-size: 1.25rem;
  line-height: 1.4;
}

.contacts-footer__tile {
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.contacts-footer__items {
  margin-bottom: 0.625rem;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__item::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contacts-footer__item:hover {
  color: #11ACCB;
}

.contacts-footer__item:hover::before {
  color: #7CE0F4;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.contacts-footer__socials {
  color: #11ACCB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.contacts-footer__socials a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 1.375rem;
}

.contacts-footer__socials a::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.contacts-footer__socials a:hover::before {
  color: #0C8097;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.menu-footer__link {
  color: #11ACCB;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  transition: all 0.3s ease 0s;
}

.menu-footer__link::before {
  content: "";
  width: 0;
  height: 0.125rem;
  left: 50%;
  bottom: 0;
  position: absolute;
  background-color: #0C8097;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.menu-footer__link:hover {
  color: #0C8097;
}

.menu-footer__link:hover::before {
  width: 100%;
  left: 0;
  opacity: 1;
}

.main {
  background-color: #11ACCB;
}

.main__wrap {
  overflow: hidden;
}

.main__container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 11.25rem 1fr 9.375rem;
  grid-template-rows: 11.25rem 1fr 9.375rem;
  background: url("../img/decor/water_man.svg") 50% 50% no-repeat fixed;
  position: relative;
}

.no-webp .main__container::before{
  background: url("../img/decor/pngwing_left.png") 0 0/contain no-repeat; }

.main__container::before {
  content: "";
  position: absolute;
  top: -43%;
  left: -69%;
  width: 100%;
  height: 180%;
}

.no-webp .main__container::after{
  background: url("../img/decor/pngwing_right.png") 0 0/contain no-repeat; }

.main__container::after {
  content: "";
  position: absolute;
  top: -42%;
  right: -63%;
  width: 100%;
  height: 180%;
}

.main__title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  text-shadow: 0 0 0.125rem #11ACCB;
}

.main__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.main__item {
  position: relative;
  z-index: 10;
}

.main__item_first {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
}

.main__item_second {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-animation: 2s linear 0s infinite scowling;
          animation: 2s linear 0s infinite scowling;
}

.main__item_third {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(10%, 60%);
      -ms-transform: translate(10%, 60%);
          transform: translate(10%, 60%);
}

.main__item_fourth {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  -ms-grid-column-align: right;
      justify-self: right;
}

.main__item_fifth {
  -ms-grid-row-align: self-end;
      align-self: self-end;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

@-webkit-keyframes scowling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scowling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main__button {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.9375rem 2rem;
  border-radius: 2.375rem;
  border: 0.125rem solid #fff;
  background-color: #11ACCB;
  -webkit-box-shadow: 0 0.3125rem 0.3125rem #0C8097;
          box-shadow: 0 0.3125rem 0.3125rem #0C8097;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__button:hover {
  background-color: #7CE0F4;
  -webkit-box-shadow: 0 0.3125rem 0.3125rem transparent;
          box-shadow: 0 0.3125rem 0.3125rem transparent;
}

.main__footter {
  position: relative;
  text-align: center;
  z-index: 20;
}

.main__footter a {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  font-size: 2.25rem;
  -webkit-animation: 2s linear 0s infinite up-down;
          animation: 2s linear 0s infinite up-down;
}

.main__footter a i {
  text-shadow: 0 0 0.3125rem #0C8097;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.button-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 1.875rem;
  color: #11ACCB;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 50;
}

.button-up:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 5px #0C8097;
          box-shadow: 0 0 5px #0C8097;
}

.order {
  padding-top: 7.5rem;
}

.order__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
  position: relative;
}

.info-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-order__text {
  font-size: 20px;
  line-height: 1.35;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-order__image {
  width: 100%;
}

.info-order__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-7%, 0);
      -ms-transform: translate(-7%, 0);
          transform: translate(-7%, 0);
}

.wrap-order {
  padding-bottom: 7.5rem;
}

.form-order {
  font-size: 20px;
  line-height: 1.35;
}

.form-order__client-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.details-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  margin-bottom: 1.25rem;
}

.details-order__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.details-order__new-packaging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.details-order__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.details-order__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.details-order__total p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.details-order__total div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  font-size: 1.875rem;
  font-weight: 700;
}

.more-products {
  position: relative;
  display: inline-block;
}

.more-products:hover .more-products__body {
  opacity: 1;
  visibility: visible;
}

.more-products__button-more {
  padding: 0.40625rem 1.8125rem;
  background-color: #11ACCB;
  border-radius: 1.25rem;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.more-products__button-more:hover {
  background-color: #0C8097;
}

.more-products__button-more:disabled {
  background-color: #A3A3A3;
}

.more-products__body {
  position: absolute;
  top: 100%;
  left: 0;
  width: 18.125rem;
  padding-top: 0.625rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.more-products__list {
  background-color: #7CE0F4;
  padding: 0.625rem;
  border-radius: 0.5rem;
}

.more-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}

.more-products__item input {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.quantity-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.quantity-input input {
  width: 6.25rem;
  border: 1px solid #11ACCB;
  padding: 0.375rem 0.625rem 0.375rem 1.25rem;
  border-radius: 1.25rem;
  text-align: center;
}

.quantity-input__btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #11ACCB;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.quantity-input__btn:first-child {
  position: relative;
}

.quantity-input__btn:first-child::after {
  content: "";
  width: 1rem;
  height: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.quantity-input__btn:hover {
  background-color: #0C8097;
}

.quantity-input__btn:disabled {
  background-color: #A3A3A3;
}

.new-packaging__checkbox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.new-packaging__checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: relative;
}

.new-packaging__checkbox label:hover .new-packaging__hint {
  opacity: 1;
  visibility: visible;
}

.new-packaging__hint {
  position: absolute;
  bottom: -200%;
  right: -155%;
  width: 12.5rem;
  background-color: #7CE0F4;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.packaging-hint-logo {
  border: 0.0625rem solid #11ACCB;
  padding: 0 0.5875rem;
  border-radius: 50%;
  cursor: pointer;
}

.delivery-order__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.client-info-form__item {
  margin-bottom: 0.25rem;
  display: -ms-grid;
  display: grid;
  gap: 0.25rem;
}

.client-info-form__item input {
  border: 0.0625rem solid #11ACCB;
  border-radius: 1.25rem;
  padding: 0.34375rem 1.25rem;
}

.client-info-form__btn {
  position: relative;
}

.client-info-form__btn:hover .client-info-form__hint {
  opacity: 1;
  visibility: visible;
}

.client-info-form__button {
  padding: 0.40625rem 0.625rem;
  text-align: center;
  width: 100%;
  background-color: #11ACCB;
  border-radius: 1.25rem;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.client-info-form__button:hover {
  background-color: #0C8097;
}

.client-info-form__button:disabled {
  background-color: #A3A3A3;
}

.client-info-form__hint {
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #7CE0F4;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transform: translate(-50%, 110%);
      -ms-transform: translate(-50%, 110%);
          transform: translate(-50%, 110%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-address {
  margin-bottom: 0.75rem;
}

.add-goods {
  position: relative;
  background-color: #11ACCB;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.card__image {
  text-align: center;
  margin-bottom: 0.5rem;
}

.card__img {
  max-width: 100%;
  background-color: #fff;
}

.card__body {
  text-align: center;
}

.card__title {
  max-width: 12.5rem;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  min-height: 2.25rem;
}

.card__price {
  font-size: 20px;
  font-weight: 700;
}

.swiper-pagination {
  position: static !important;
  margin-top: 20px !important;
}

.swiper-pagination-bullet {
  width: 1.25rem !important;
  height: 1.25rem !important;
  line-height: 1.25rem !important;
  font-size: 0.875rem !important;
  background-color: #fff !important;
}

.swiper-button-prev {
  text-shadow: 0 0 5px #fff;
  color: #0C8097;
}

.swiper-button-next {
  text-shadow: 0 0 5px #fff;
  color: #0C8097;
}

.delivery {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.delivery__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

.delivery__content {
  line-height: 1.4;
}

.delivery__content p:not(:last-child) {
  margin-bottom: 1.75rem;
}

.info-delivery__title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.info-delivery__map {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

.info-delivery__map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  background-color: #11ACCB;
}

.info__container {
  font-size: 1.25rem;
  line-height: 1.4;
}

.info__sub-title {
  text-align: center;
  margin-bottom: 1.25rem;
}

.info__body {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
  margin-bottom: 5rem;
}

.item-info {
  position: relative;
}

.item-info .item-info__image {
  position: absolute;
  z-index: 1;
}

.item-info .item-info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-info:nth-child(1) .item-info__content {
  max-width: 42.5rem;
  padding-right: 1.875rem;
}

.item-info:nth-child(1) .item-info__image {
  top: -20%;
  left: 8%;
  width: 12.25rem;
  height: 9.125rem;
}

.item-info:nth-child(2) {
  -ms-grid-column-align: right;
      justify-self: right;
}

.item-info:nth-child(2) .item-info__content {
  max-width: 48.75rem;
}

.item-info:nth-child(2) .item-info__image {
  top: -80%;
  right: 18%;
  width: 6.5625rem;
  height: 7.5rem;
}

.item-info:nth-child(3) .item-info__content {
  max-width: 42.5rem;
}

.item-info:nth-child(3) .item-info__image {
  top: -20%;
  left: 30%;
  width: 6.125rem;
  height: 4.375rem;
}

.item-info:nth-child(4) {
  -ms-grid-column-align: right;
      justify-self: right;
}

.item-info:nth-child(4) .item-info__content {
  max-width: 36.25rem;
}

.item-info:nth-child(4) .item-info__image {
  top: -50%;
  left: 8%;
  width: 7.875rem;
  height: 10.875rem;
}

.item-info:nth-child(5) .item-info__content {
  max-width: 42.5rem;
}

.item-info:nth-child(5) .item-info__image {
  top: -60%;
  left: 22%;
  width: 6.375rem;
  height: 4.25rem;
}

.item-info .item-info__content {
  position: relative;
  z-index: 5;
}

.certificates-info__title {
  text-align: center;
  padding: 0 7.5rem;
  margin-bottom: 1.5rem;
}

.certificates-info__list {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

.certificates-info__item {
  -ms-grid-column-align: left;
      justify-self: left;
}

.certificates-info__link {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  font-weight: 700;
}

.certificates-info__link::before {
  padding-top: 0.3125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.certificates-info__link:hover {
  text-decoration: underline;
}

.certificates-info__link:hover::before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.warranty {
  padding: 1.25rem 0;
}

.warranty__text {
  font-size: 1.25rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.warranty__text::before {
  font-size: 3.75rem;
  color: #FFD400;
}

.advantages {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
  background-color: #11ACCB;
}

.advantages__body {
  font-size: 1.25rem;
  line-height: 1.4;
}

.advantages__list {
  padding-left: 0.625rem;
}

.advantages__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}

.advantages__list li::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.375rem;
          flex: 0 0 0.375rem;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #141414;
  border-radius: 50%;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.875rem 0.625rem;
}

.popup__content {
  background-color: #11ACCB;
  padding: 1.875rem;
  border-radius: 0.625rem;
  position: relative;
  max-width: 50rem;
  -webkit-transform: perspective(43.75rem) scale(0.5) translateY(-100%) rotateX(30deg);
          transform: perspective(43.75rem) scale(0.5) translateY(-100%) rotateX(30deg);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.popup__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup.open .popup__content {
  -webkit-transform: perspective(43.75rem) scale(1) translateY(0) rotateX(0deg);
          transform: perspective(43.75rem) scale(1) translateY(0) rotateX(0deg);
  opacity: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.5rem;
            flex: 0 0 3.5rem;
  }
}

@media (min-width: 75.625em) {
  .header._header-scroll {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .menu__list {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .main__title {
    font-size: 3rem;
  }
}

@media (min-width: 75.625em) and (min-width: 75.625em) {
  .header._header-scroll._header-show {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 61.99875em) {
  .main-header__container {
    min-height: 3.75rem;
  }

  .footer {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .footer__container {
    -ms-grid-columns: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
    row-gap: 1.875rem;
  }

  .main__container {
    -ms-grid-rows: 10rem 1fr 8.125rem;
    grid-template-rows: 10rem 1fr 8.125rem;
  }

  .main__button {
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
    border-radius: 1.625rem;
  }

  .order {
    padding-top: 3.75rem;
  }

  .order__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .info-order__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
    -o-object-position: 50% 100%;
       object-position: 50% 100%;
  }

  .wrap-order {
    padding-bottom: 3.75rem;
  }

  .form-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }

  .add-goods {
    padding-bottom: 3.75rem;
  }

  .delivery {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .info {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .info__body {
    margin-bottom: 3.75rem;
  }

  .advantages {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 47.99875em) {
  .top-header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.3125rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .work-schedule {
    font-size: 0.75rem;
  }

  .socials {
    position: fixed;
    z-index: 5;
    top: 0.9375rem;
    left: 0.9375rem;
    width: 3.875rem;
    height: 1.25rem;
  }

  .socials {
    width: 3.75rem;
  }

  .socials__item {
    font-size: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5rem;
            flex: 0 0 1.5rem;
  }

  .main-header__container {
    min-height: 3.125rem;
  }

  .logo__image {
    width: 2.6875rem;
    height: 2.0625rem;
  }

  .logo__title {
    font-size: 1.125rem;
  }

  .menu__link {
    font-size: 16px;
  }

  .footer__container {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }

  .order {
    padding-top: 1.875rem;
  }

  .wrap-order {
    padding-bottom: 1.875rem;
  }

  .form-order {
    display: block;
  }

  .add-goods {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .delivery {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .delivery__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .info {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .info__body {
    margin-bottom: 1.875rem;
  }

  .certificates-info__title {
    padding: 0 2.5rem;
  }

  .advantages {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 37.5em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .menu__body::before {
    content: "";
    height: 6.0625rem;
    width: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #7CE0F4;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.875rem 0.625rem;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #11ACCB;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu._active span {
    width: 0;
  }

  .icon-menu._active::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu._active::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 37.5em) and (max-width: 28.125em) {
  .menu__body::before {
    height: 7.5625rem;
  }
}

@media (max-width: 37.5em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 34.375rem) {
  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 34.375em) {
  .footer__work-schedule {
    text-align: center;
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__menu {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }

  .contacts-footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 32.5em) {
  .main__item_second {
    -webkit-transform: translate(50%, -100%);
        -ms-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
  }
}

@media (max-width: 28.125em) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__contacts span {
    display: none;
  }

  .header__contacts::before {
    display: none;
  }

  .main__button {
    font-size: 0.875rem;
    padding: 0.3125rem 0.625rem;
    border-radius: 1.125rem;
  }
}

@media (max-width: 28.75em) {
  .details-order__quantity {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .quantity-input {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .quantity-price {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

@media (max-width: 26.875em) {
  .main__item_second {
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem )) or (column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem );
         -moz-column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem );
              column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem )) or (column-gap: clamp( 0.9375rem , 0.5554775281rem  +  1.9101123596vw , 2rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 55.625);
              column-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .main__title {
      font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .main__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}
}

@media (max-height: 31.875em) {
  .main__item_first {
    -webkit-transform: translateY(-170%);
        -ms-transform: translateY(-170%);
            transform: translateY(-170%);
  }

  .main__item_second {
    -webkit-transform: translate(30%, -120%);
        -ms-transform: translate(30%, -120%);
            transform: translate(30%, -120%);
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
  }

  .main__item_third {
    -webkit-transform: translate(15%, 100%);
        -ms-transform: translate(15%, 100%);
            transform: translate(15%, 100%);
  }

  .main__item_fourth {
    -webkit-transform: translateY(160%);
        -ms-transform: translateY(160%);
            transform: translateY(160%);
  }

  .main__item_fifth {
    -webkit-transform: translateY(360%);
        -ms-transform: translateY(360%);
            transform: translateY(360%);
  }
}

@media (max-height: 25em) {
  .main__button {
    font-size: 0.875rem;
    padding: 0.3125rem 0.625rem;
    border-radius: 1.125rem;
  }
}

.webp .main__container::before{ background: url(../img/decor/pngwing_left.webp) 0 0/contain no-repeat; }

.webp .main__container::after{ background: url(../img/decor/pngwing_right.webp) 0 0/contain no-repeat; }